@import '../../../styles/settings.scss';

.component {
  position: relative;
  text-align: center;
  color: silver;
  font-weight: bold;
}

.title, .description {
  position: absolute;
  width: 100%;
  text-shadow: 2px 2px 4px #000;
  font-size: 25px;
}

.title {
  bottom: 40px;
}

.description {
  bottom: 10px;
}
